.day{
  display: flex;
  flex-direction: column;
  color: var(--greenLight);
  background: var(--white);
  z-index: 3;
  justify-content: space-between;
  text-align: justify;
  width: 27.5vw;
  font-family: var(--font1);
  font-weight: normal;
  padding-top: 1rem;
  margin-left: -45vw;
  font-size: 1rem;
  :hover{
    cursor: pointer;

  }
  .dayTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px var(--greenLight);
  h1{
    color: var(--greenLight);
    font-family: var(--font1);
    font-size: 2rem;
  }
  }
  span{
    margin-top: 1rem;
    font-family: var(--font2);
    color: var(--grayDark);
    font-weight: normal;
    font-size: 1.4rem;
    text-align: left;
    line-height: 2rem;
    strong{
    font-weight: 600;
    }
  }
  .cardContainer{
    display: flex;
    flex-direction: row;
    width: 70rem;
  }
}
