.title{
  color: var(--greenLight);
  font-family: var(--font1);
  font-size: 2rem;

  .box{
   
    border: 1px solid var(--darkGray);
    background-color: #fff;

    .suggestionForm{
      .formSuggestion{
        .inputField{
          
        }
        .formSubmit{

        }
      }
    }
  }
}