:root{
  /* Colors */
  --greenDark: #4A702E;
  --greenLight: #69b82e;
  --orange: #FFA31A;
  --red: #CB0000;
  --grayDark: #707070;
  --grayLight: #BFBFBF;
  --white: #E9ECEF;

  /* Fonts */
  --font1: 'MadeTommyBold';
  --font2: 'LatoHairline';
}

@font-face {
  font-family: MadeTommyBold;
  src: url(fonts/made-tommy-bold.otf);
}
@font-face {
  font-family: LatoHairline;
  src: url(fonts/lato-hairline-2.ttf);
}

@media (min-width: 320px) {
  main{
    font-size: 50% !important;
    
    .banner{
      padding-top: 12.5rem;
      padding-bottom: 34rem !important;
    }
  }
}
@media (max-width: 710px) {
  main{
    font-size: 75% !important;
    
    .banner{
      padding: 0;
      margin-bottom: -24rem !important;
      margin-top: -4rem;
      min-height: 20vh !important;
    }
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font1);
  background: var(--white);
  align-items: center;
  text-align: center;
  justify-content: center;
  
  main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    a {
      color: inherit;
      text-decoration: none;
    } 
    
    .arrow-down{
      transform: translateY(250%);
      text-align: right;
    }
    .arrow-forward{
      transform: rotate(-90deg) translateX(-125%);
      text-align: right;
    }
  }
}