:root{
  /* Colors */
  --greenDark: #4A702E;
  --greenLight: #69b82e;
  --orange: #FFA31A;
  --red: #CB0000;
  --grayDark: #707070;
  --grayLight: #BFBFBF;
  --white: #E9ECEF;

  /* Fonts */
  --font1: 'MadeTommyBold';
  --font2: 'LatoHairline';
}

@font-face {
  font-family: MadeTommyBold;
  src: url(fonts/made-tommy-bold.otf);
}
@font-face {
  font-family: LatoHairline;
  src: url(fonts/lato-hairline-2.ttf);
}

@media (min-width: 320px) {
  main{
    font-size: 50% !important;
    
    .banner{
      padding-top: 12.5rem;
      padding-bottom: 34rem !important;
    }
  }
}
@media (max-width: 710px) {
  main{
    font-size: 75% !important;
    
    .banner{
      padding: 0;
      margin-bottom: -24rem !important;
      margin-top: -4rem;
      min-height: 20vh !important;
    }
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font1);
  background: var(--white);
  align-items: center;
  text-align: center;
  justify-content: center;

  main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    a {
      color: inherit;
      text-decoration: none;
    }    

    .logoSVG{
      min-width: 100vw;
      height: 5rem;
      z-index: 2;
      padding: 2rem;
      margin-bottom: -2rem !important;
      background: #fff;
    }

    .banner{
      min-width: 100vw;
      background-image: url(/banner.jpg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;   
      z-index: 0;
      position: relative;
      transform: translateY(-17.5%) scaleX(1.6);
      margin-bottom: -27.5rem;
    }
  }
}