.main{
  .logoSVG{
    min-width: 100vw;
    height: 5rem;
    z-index: 2;
    padding: 2rem;
    margin-bottom: -2rem !important;
    background: var(--white);
    border-bottom: var(--greenLight) 4px solid;
  }

.banner{
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 3, 1fr;
  min-width: 100vw;
  min-height: 52.5vh;
  background-image: url(/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;   
  z-index: 0;
  position: relative;
  transform: translateY(5%);
  margin-bottom: -8%;
  background-color: var(--black);
  opacity: 0.9;

  .bannerText{
    font-family: var(--font2);
    color: var(--white);
    font-size: 7rem;
    font-weight: 500;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
    transform: translateY(-25%);
  }
  }

.button{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  font-size: 2rem;
  background: var(--white);
  padding-bottom: 3rem;
  
  .btnWrap{
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }

  .btnActive{
    display: flex;
    flex-direction: column;
    background: var(--greenLight);
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    border: 0;
    border-radius: 1.5rem;
    color: var(--white);
    font-size: 1rem;
    font: var(--font1);
  
  }
  .btnActive:hover{
    cursor: pointer;
  }

  .btnInactive{
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    border: 0;
    border-radius: 1.5rem;
    color: var(--white);
    font-size: 1rem;
    font: var(--font1);
  
    display: flex;
    flex-direction: column;
    background: var(--orange);
  }
  .btnInactive:hover{
    cursor: pointer;
  }


  .active{
    color: var(--greenLight);
  }
  .active:hover{
    cursor: pointer;
  }
  .inactive{
    color: var(--orange);
  }
}
.weekdays{
  z-index: 3;
}
.weekdaysWrap{
  display: flex;
  flex-direction: column;
  z-index: 2;
  
  .weekDay{
    color: var(--greenLight);
    background: var(--white);
    z-index: 3;
    width: 100vw;
    padding-top: 1rem;
    justify-content: center;
    padding: 4rem;
    h1{
      margin: 1.5rem;
    }
  }
}}

@media screen and (max-width: 530px){
  .main{
    font-size: 0.6rem !important; 

    .banner{
      margin-top: -4rem;

      max-height: 10rem;
     
      .bannerText{
        width: 50%;
        font-size: 3.75rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        transform: translateY(0%) translateX(-10%);
      }
    }
  }
}
@media screen and (min-width: 530px) and (max-width: 680px){
  .main{
    font-size: 0.6rem !important; 

    .banner{
      margin-top: -4rem;

      max-height: 10rem;
     
      .bannerText{
        width: 50%;
        font-size: 3.75rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        transform: translateY(10%) translateX(-10%);
      }
    }
  }
}

@media screen and (min-width: 680px) and (max-width: 960px){
.main{
  font-size: 0.8rem !important; 

  .banner{
    margin-top: -1.5rem;
    margin-bottom: -10rem;
    max-height: 10rem;
    .bannerText{
      font-size: 4rem;
      transform: translateY(-5%);
    }
  }
}
}

@media screen and (min-width: 960px) and (max-width: 1440px){
  .main{
    font-size: 1rem !important; 

    .banner{
      margin-top: -1.5rem;
      margin-bottom: -10rem;
      max-height: 10rem;
      .bannerText{
        font-size: 4rem;
        transform: translateY(-5%);
      }
    }
  }
  }

  @media (min-width: 1440px){
    .main{
      font-size: 1rem !important; 

      .banner{
        margin-top: -1.5rem;
        margin-bottom: -7.5rem;
        max-height: 10rem;
        .bannerText{
          font-size: 4rem;
          transform: translateY(2.5%);
        }
      }
    }
  }