.main{
  .logoSVG{
    min-width: 100vw;
    height: 5rem;
    z-index: 2;
    padding: 2rem;
    margin-bottom: -2rem !important;
    background: var(--white);
  }

.banner{
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 3, 1fr;
  min-width: 100vw;
  min-height: 52.5vh;
  background-image: url(/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;   
  z-index: 0;
  position: relative;
  transform: translateY(27.5%);
  margin-top: -6%;
  background-color: var(--black);
  opacity: 0.9;
  .bannerText{
    font-family: var(--font2);
    color: var(--white);
    font-size: 7rem;
    font-weight: 500;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
    transform: translateY(-25%);
  }
  }

.button{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  font-size: 2rem;
  background: var(--white);
  padding-bottom: 3rem;
  
  
  .btnWrap{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
  }

  .btnActive{
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    border: 0;
    border-radius: 1.5rem;
    color: var(--white);
    font-size: 1rem;
    font: var(--font1);
    margin: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column;
    background: var(--greenLight);
  }
  .btnActive:hover{
    cursor: pointer;
  }

  .btnInactive{
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    border: 0;
    border-radius: 1.5rem;
    color: var(--white);
    font-size: 1rem;
    font: var(--font1);
    margin: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column;
    background: var(--orange);
  }
  .btnInactive:hover{
    cursor: pointer;
  }


  .active{
    color: var(--greenLight);
  }
  .active:hover{
    cursor: pointer;
  }
  .inactive{
    color: var(--orange);
  }
}
.weekdays{
  z-index: 3;
}
.weekdaysWrap{
  display: flex;
  flex-direction: column;
  z-index: 2;
  
  .weekDay{
    display: flex;
    color: var(--greenLight);
    background: var(--white);
    z-index: 3;
    width: 100vw;
    padding-top: 1rem;
    justify-content: center;
    h1{
      margin: 1.5rem;
    }
  }
}}