.card{
  border-radius: 15px;
  border: solid 1px var(--grayLight);
  height: 7rem;
  width: 15rem;
  margin: 1rem;
  .option{
    text-align: center;
    border-radius: 15px 15px 0 0;
    font-family: var(--font1);
    background-color: var(--greenLight);
    color: var(--white);
    font-size: 1rem;
    line-height:1.75rem;
    margin-top: -0.1rem;
  }
  .content{
    display: flex;
    justify-content: left;
    padding-left: 1rem;
    font-family: var(--font2);
    background-color: var(--white);
    color: var(--grayDark);
  }
  .selected{
    text-align: center;
    margin-left: 80%;
    background-color: var(--greenLight);
    width: 2rem;
    height: 2rem;
    border-radius:1rem;
    :first-child{
      
      transform:  translateY(50%);
    }
  }
}
