.weekdaysWrap{
  display: flex;
  flex-direction: column;
  
  .weekDay{
    display: flex;
    color: var(--greenLight);
    background: var(--white);
    z-index: 2;
    width: 100vw;
    max-height: 10vh;
    padding-top: 1rem;
    justify-content: center;
    h1{
      margin: 1.5rem;
    }
  }
}